.Navigationbar {

  border: 1px solid #dadadf;
  color: black;

}

.NavLink {
  padding: 5px;
  text-decoration: none;
 color: black;
}

.Active {
  color: white;

}
.Recibook {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #2142b2;
}
