.profilescardinfo{
  display:flex;
  flex-direction:row;
  margin:5px;
  padding:2px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.box {
  margin: 20px;
}